@page "/"

<h3>Statistical Simulations & Visuals (.NET 6, Blazor WASM)</h3>
<small class="form-text text-muted">
    <b>Last Updated:</b>
    07/27/2022 - .NET 6.0.7 (with AOT)
</small>
<small class="form-text text-muted">
    <b>About: </b>This demo showcases sampling using discrete statistical simulations and renders them using the D3.js data visualization library.
    This demo is executed 100% inside the web browser (with no server-side code) using Blazor WebAssembly.
</small>
<small class="form-text text-muted">
    A performance test is provided to gauge a "real-world" computation difference between Blazor on .NET Core 3.x vs .NET 6.
    Note: The demos are seperate project templates, sites with the same C# code. Run each site (.NET 6, .NET Core 3.x) seperatetly.
</small>
<small class="form-text text-muted">
    <b>About: </b>This demo simulates the various sports (NFL, Basketball) outcomes (playoffs, championships won) using actual league structure.
</small>
<small class="form-text text-muted">
    The purpose of the demo is to highlight that Blazor WebAssembly architectures can run monte carlo simulations directly on the web client to perform analytical analysis.
    Analytically, this demo allows you to compare the probability of making the playoffs or winning a championship by chance with different league & playoff structures.
</small>
<br />
<small class="form-text text-muted">
    <b>About: </b>This demo showcases performing local Machine Learning inference using ML.NET and Blazor WebAssembly. Historical baseball
    batting data is loaded into memory, where several Machine Learning .NET models perform dynamic predictions for Hall Of Fame induction.
</small>
<small class="form-text text-muted">
    The purpose of the demo is to highlight that Blazor WebAssembly architectures can surface complex analytical
    insights using Machine Learning, data visualizations and in-memory pattercns <b>without any remote server resources</b> (APIs, gRPC, remote calls etc.).
</small>
<br />
<small class="form-text text-muted">
    <b>About: </b>This demo showcases performing local Machine Learning inference using ML.NET and Blazor WebAssembly. Historical baseball
    batting data is loaded into memory, where several Machine Learning .NET models perform dynamic predictions for Hall Of Fame induction.
</small>
<small class="form-text text-muted">
    The purpose of the demo is to highlight that Blazor WebAssembly architectures can surface complex analytical
    insights using Machine Learning, data visualizations and in-memory pattercns <b>without any remote server resources</b> (APIs, gRPC, remote calls etc.).
</small>
<br />
<small class="form-text text-muted">
    <b>Demo - </b>Baseball ML Workbench (.NET 6, Blazor Server, SignalR):
    <a href="https://baseballmlworkbench.azurefd.net" target="_blank">Demo Link</a>
</small>
<small class="form-text text-muted">
    <b>Demo - </b>Statistical Simulations & Visuals (.NET 7, Blazor WASM):
    <a href="https://statisticsblazordotnet7.azureedge.net" target="_blank">Demo Link</a>
</small>
<small class="form-text text-muted">
    <b>Demo - </b>Statistical Simulations & Visuals (.NET 6, Blazor WASM):
    <a href="https://statisticsblazordotnet6.azureedge.net" target="_blank">Demo Link</a>
</small>
<small class="form-text text-muted">
    <b>Demo - </b>Statistical Simulations & Visuals (.NET Core 3.x, Blazor WASM):
    <a href="https://statisticsblazordotnet3.azureedge.net" target="_blank">Demo Link</a>
</small>
<small class="form-text text-muted">
    <b>Demo - </b>ML.NET Baseball Predictions &amp; Lucene Information Retrieval (.NET 7, Blazor WASM, Azure Static Website):
    <a href="https://mlnetwithsearch.azureedge.net" target="_blank">Demo Link</a>
</small>
<small class="form-text text-muted">
    <b>Demo - </b>Sports League Simulator - Monte Carlo Simulations (.NET 7, Blazor WASM):
    <a href="https://sportsleaguesimulator.azureedge.net/" target="_blank">Demo Link</a>
</small>
<br />
<small class="form-text text-muted">
    <b>GitHub Source Code - </b>Baseball ML Workbench (.NET 6, Blazor Server, SignalR):
    <a href="https://github.com/bartczernicki/MachineLearning-BaseballPrediction-BlazorApp" target="_blank">GitHub Source Code Repository</a>
</small>
<small class="form-text text-muted">
    <b>GitHub Source Code - </b>Statistical Simulations & Visuals (.NET 7, Blazor WASM):
    <a href="https://github.com/bartczernicki/Blazor-WebAssembly-StatisticsAndML-DotNet7" target="_blank">GitHub Source Code Repository</a>
</small>
<small class="form-text text-muted">
    <b>GitHub Source Code - </b>ML.NET Baseball Predictions &amp; Lucene Information Retrieval (.NET 6, Blazor WASM, Self-Host):
    <a href="https://github.com/bartczernicki/Test-Blazor-MLNet-WASMHost" target="_blank">GitHub Source Code Repository</a>
</small>
<small class="form-text text-muted">
    <b>GitHub Source Code - </b>Sports League Simulator - Monte Carlo Simulation in Blazor WASM (.NET 7, Blazor WASM):
    <a href="https://github.com/bartczernicki/Simulation-SportsChampionships" target="_blank">GitHub Source Code Repository</a>
</small>