@page "/"

<h3>Statistical Simulations & Visuals (.NET 6, Blazor WASM)</h3>
<small class="form-text text-muted">
    <b>Last Updated:</b>
    06/18/2021 - .NET 6 Preview 5 (with AOT)
</small>
<small class="form-text text-muted">
    <b>About: </b>This demo showcases sampling using discrete statistical simulations and renders them using the D3.js data visualization library.
    This demo is executed 100% inside the web browser (with no server-side code) using Blazor WebAssembly.
</small>
<small class="form-text text-muted">
    A performance test is provided to gauge a "real-world" computation difference between Blazor on .NET Core 3.x vs .NET 5 vs .NET 6.
    Note: Both demos are seperate project templates, sites with the same C# code. Run each site (.NET 5, .NET Core 3.x) seperatetly.
</small>


<br />
<small class="form-text text-muted">
    <b>Demo - </b>Statistical Simulations & Visuals (.NET Core 3.x, Blazor WASM):
    <a href="https://statisticsandblazordotnetcore3.azureedge.net" target="_blank">Demo Link</a>
</small>
<small class="form-text text-muted">
    <b>Demo - </b>Statistical Simulations & Visuals (.NET 5, Blazor WASM):
    <a href="https://statisticsandblazordotnet5.azureedge.net" target="_blank">Demo Link</a>
</small>
<small class="form-text text-muted">
    <b>Demo - </b>Statistical Simulations & Visuals (.NET 6 Preview 4, Blazor WASM):
    <a href="https://statisticsandblazordotnet6.azureedge.net" target="_blank">Demo Link (This Site)</a>
</small>
<small class="form-text text-muted">
    <b>GitHub - </b>Multiple Blazor and Machine Intelligence (Source, Demos, Presentations):
    <a href="https://github.com/bartczernicki/Blazor-MachineIntelligence" target="_blank">GitHub Link</a>
</small>