<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Stats | Blazor .NET 6.x</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="BinomialDistribution">
                <span class="oi oi-plus" aria-hidden="true"></span> Binomial
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="GeometricDistribution">
                <span class="oi oi-plus" aria-hidden="true"></span> Geometric
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="PoissonDistribution">
                <span class="oi oi-plus" aria-hidden="true"></span> Poisson
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ConwayMaxwellPoissonDistribution">
                <span class="oi oi-plus" aria-hidden="true"></span> Con-Max Poisson
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="PerformanceTestRun">
                <span class="oi oi-plus" aria-hidden="true"></span> Performance Test Run
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
